environment/
env/
my-fashion-app/node_modules/
__pycache__/
gap_images/
backend/gap_images/
backend/test_images/
backend/uploaded_images/
backend/images/
input.png
input2.png
input3.png
uploads/
backend/uploads
